*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
 /* Primary */

    --Softred: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    
     /* Neutral */
    
    --Darkbrown: hsl(25, 47%, 15%);
    --Mediumbrown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Verypaleorange: hsl(33, 100%, 98%);
}
 .bar{
    background-color: var(--Softred);
    width: 50px;
    border-radius: 4px;

 }
.graph{
    display: flex;
    align-items: baseline;

    
}
body{
    background-color: hsl(27, 66%, 92%);
    font-family: 'DM Sans', sans-serif;
}
.txt{
    font-weight: 700;
    font-size: 20px;
}
header{
    background-color: hsl(10, 79%, 65%);
    border-radius: 20px;
    color: var(--Cream);
    padding: 20px 40px;
    display: flex;
    gap: 85%;
    

}
.bal{
    opacity:70%;
    padding-bottom: 10px;
    font-size: 20px;
}
    .dollar{
font-size: 30px;
font-weight: 700;;
    }
    




    
    .logo img{
        float: right;
        margin-top: 0;
    }
.activeday:hover{
    background-color: var(--Cyan);
}
main{
    border-radius: 15px;
    background-color: var(--Verypaleorange);
}
