*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
 /* Primary */

    --Softred: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    
     /* Neutral */
    
    --Darkbrown: hsl(25, 47%, 15%);
    --Mediumbrown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Verypaleorange: hsl(33, 100%, 98%);
}
 .bar{
    background-color: var(--Softred);
    width: 50px;

 }
.graph{
    display: flex;
    align-items: baseline;
}
body{
    background-color: hsl(27, 66%, 92%);
    font-family: 'DM Sans', sans-serif;
}
.txt{
    font-weight: 700;
    font-size: 20px;
}
header{
    background-color: hsl(10, 79%, 65%);
    border: 5%;
    
}
